
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.foxthemes.net/socialite-v3.0/feed.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Nov 2025 17:36:40 GMT -->
<head>
    <%- include('../clients/layout/head.ejs') %>
</head>
<body>
 
    <div id="wrapper">

        <!-- header -->
        <header class="z-[100] h-[--m-top] fixed top-0 left-0 w-full flex items-center bg-white/80 sky-50 backdrop-blur-xl border-b border-slate-200 dark:bg-dark2 dark:border-slate-800">

            <%- include('./layout/header.ejs') %>

        </header>
    
        <!-- sidebar -->
        <div id="site__sidebar" class="fixed top-0 left-0 z-[99] pt-[--m-top] overflow-hidden transition-transform xl:duration-500 max-xl:w-full max-xl:-translate-x-full">

            <%- include('./layout/sidebar.ejs') %>
        </div>

        <div>
            
        </div>

    <!-- Javascript  -->
    <%- include('./layout/js.ejs') %>
</body>

<!-- Mirrored from demo.foxthemes.net/socialite-v3.0/feed.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Nov 2025 17:37:15 GMT -->
</html>